* {
  padding: 0px;
  margin: 0px;
}

body {
  background: #1C1F21;
  color: #5388A8;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0px 15px;
}

a {
  text-decoration: none;
  color: #7ad;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

a:hover {
  text-shadow: 0 0 4px rgba(255, 255, 255, .5); 
}
